@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');
:root{
    --main-color:#000000;
    --secondary-color:#ffffff;
}

*{
    font-family: "IBM Plex Mono", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

header .logo{
    color: var(--secondary-color);
    font-size: 22px;
    cursor: pointer;
    margin-right: auto;
}
.nav_li, .nav_a{
    font-weight: 500;
    font-size: 18px;
    color: var(--secondary-color);
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--main-color);
    padding: 2% 2% 2% 2%;
}
.nav_links{
    list-style: none;
}
.nav_links .nav_li{
    display: inline-block;
    padding: 10px 90px 0px 0px;
}
.nav_links .nav_li .nav_a{
    transition: all 0.3s ease 0s;
}
.nav_links .nav_li .nav_a:hover{
    color: #4c60f2;
}
.about-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2% 2% 2% 2%;
    background-color: var(--main-color);
}
.about-container img{
    margin-right: auto;
}
.about-text{
    color: var(--secondary-color);
}
.about-h1{
    font-size: 36px;
}
.about-h3{
    font-size: 18px;
}
/* projects */

.title{
    width: 100%;
    height: 110px;
    background-color: var(--secondary-color);
    border-style: solid;
    border-width: 2px 0px 2px 0px;
}
.title .project-name{
    font-weight: 500;
    background-color: var(--secondary-color);
    padding-bottom: 10px;
    margin-right: auto;
    margin: 30px;
}
.projects{
    width: 100%;
    height: 540px;
    background-color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
}

/* projects */
/* resume page */
.resume{
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
}
/* resume page */